@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background-color: #d4d4d8;
	display: flex;
	flex-direction: column;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
}

.main {
	margin: auto;
}

h1 {
	font-size: 30px;
	font-weight: 550;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	background-color: #ca8a04;
	font-size: larger;
}

.header-side {
	width: 40px;
	justify-content: center;
	margin: 20px;
}

.top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50px;
	position: relative;
}

.collection {
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	border: 2px solid black;
	width: auto;
}

.cover-art-container {
	position: relative;
	min-height: 200px;
	min-width: 200px;
	max-height: 200px;
	max-width: 200px;
}

.card {
	max-height: 250px;
	max-width: 200px;
	border: 2px solid black;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: start;
	overflow: hidden;
}

.small-card {
	height: 50px;
	width: 400px;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	height: 40px;
	width: 100%;
}

.record-table {
	width: 100%;
	margin: 40px;
}

.bg-even {
	background-color: grey;
}
.bg-even {
	background-color: grey;
}

tr:hover {
	/*background-color: #64748b;*/
	background-color: charcoal-100;
}
